body{
    background-color: #EEE2DE;
    font-size: large;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    text-decoration: underline;
    border: double 0.75em black;
    padding-right: 0.75em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.pageTop{
    padding: 0.25em;
    list-style: none;
}

section{
    padding-left: 1em;
    padding-right: 1em;
}

footer{
    height: 5em;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:left;
    background-color: bisque;
    border-top: black dashed 3px;
    padding-left: 0.5em;
    font-size:large;
}

.footer-ephemera{
    font-size: x-small;
}

.subtitle{
    font-style: italic;
}

.appContent{
    font-size: large;
}